*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
body{
    border: 50px solid transparent;
    border-image: url(./img/Zelij.webp) 30 round;
}

.content {
    margin-top: 50px;
}
/* BAR */
.bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.bar img {
    width: 50px;
    cursor: pointer;
}

.bar > div{
    justify-self: center;
}

.bar button{
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 18px;
    background-image: url(./img/zelij-galery.png);
    cursor: pointer;
    color:rgb(12, 111, 12);
    margin-left: 20px;
}

.bar button:hover {
    scale: 0.97;
    color: rgb(101, 228, 101);
}

.bar span {
    color:red;
    font-size: 1.3rem;
}

/* MAIN */

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
}

.main div{
    width: 700px;
    background-color: azure;
    padding: 15px;
}

.para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para::before {
    content: open-quote;
}
.para::after {
    content: close-quote;
}

.main h1{
    font-size: 2rem;
}

/* SECOND PAGE */

.content {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.main-dishes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-dishes div{
    width: 50vw;
    border: 10px solid transparent;
    border-image: url(./img/zelij-galery.png) 30 round;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.main-dishes img{
    width: 45vw;
}

.main-dishes h2 {
    color: brown;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.main-dishes h3{
    font-size: 2rem;
    color: darkgreen;
}

.main-dishes p {
    font-size: 1.3rem;
}

.main-dishes h4{
    font-size: 3rem;
    color: gold;
}

.main-dishes button{
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-color: rgb(90, 247, 90);
    font-size: 1.2rem;
    font-weight: 600;
    width: 200px;
    justify-self: center;
}

/* Contacts page */

.contacts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contacts .card {
    padding: 5px;
    border: 10px solid transparent;
    border-image: url(./img/zelij-galery.png) 30 round;
}
.contacts h1 {
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    background-image: url(./img/zelij-galery.png);
}

.contacts img {
    width: 400px;
    border-radius: 26px;
}

.contacts .spans {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px 0px;
}

